@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
}

.logo-floating {
  position: fixed;
  top: 30px;
  left: 20px;
  width: 60px;
  cursor: pointer;
  z-index: 1000;
}

.Hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 5px 50px;
  min-height: 30px;
}

#titleSearch {
  font-size: 2em;
  text-align: center;
  padding: 10px;
  color: white;
}
.BotaoModal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px;
  cursor: pointer;
}

.highlight {
  color: #ff8c00;
  font-weight: bold;
}
.linhabaixa {
  display: block;
  margin-top: 5px;
}

#modal {
  display: flex;
  padding: 70px 70px;
  background-color: #ffae00;
}
